body{
    background-color: skyblue;
    color: red;
}

button{
    background-color: purple;
    color: white;
}

.title{
    color: green;
    background-color: yellow;
}

.box {
    color: aquamarine;
}
